pandas
sqlalchemy
psycopg2
numpy
joblib
xgboost
scikit-learn
shap
matplotlib
jupyterlab
ipywidgets
pytest
pip
fastapi
uvicorn
pydantic
python-dotenv
evidently
ruff
httpx
httpx2
pipreqs
psycopg[binary]
